body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 220px; /* Largura da Navbar */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%), url('./src/img/icons/TrcSCCP2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: fixed;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1; /* Garante que a Navbar fique acima de outros elementos */
}



#navbar img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-left: 0; /* Remover margem à esquerda */
    margin-top: 5px; /* Ajustar para centralizar verticalmente */
}

#navbar h2 {
    display: flex;
    align-items: center;
    margin: 0;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
    text-align: left;
}



#content {
    margin-left: 260px;
    padding: 20px;
    padding-top: 20px;
}

#banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.tab {
    display: none;
}

.active {
    display: block;
}

#footer {
    margin-top: auto; /* Empurra o rodapé para o final do menu */
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}
