/* CSS Original */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 220px; /* Largura da Navbar */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%), url('imagenssite/TrcSCCP2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    position: fixed;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1; /* Garante que a Navbar fique acima de outros elementos */
}

#navbar img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-left: 0; /* Remover margem à esquerda */
    margin-top: 5px; /* Ajustar para centralizar verticalmente */
}

#navbar h2 {
    display: flex;
    align-items: center;
    margin: 0;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
    text-align: left;
}

#navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#content {
    margin-left: 260px;
    padding: 20px;
    padding-top: 20px;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 8%), no-repeat center center;
} 

#banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.tab {
    display: none;
}

.active {
    display: block;
}

#footer {
    margin-top: auto; /* Empurra o rodapé para o final do menu */
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.title-position {
    border-bottom: 1px solid #000000;
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 17px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Estilização da grid de jogadores */
.players-grid {
    display: flex; /* Usar flexbox para melhor controle do layout */
    flex-wrap: wrap; /* Permite que os cards se alinhem automaticamente */
    gap: 20px; /* Espaçamento entre os cards */
    align-items: flex-start; /* Alinhar os cards ao topo */
    justify-content: flex-start; /* Mantém o alinhamento à esquerda */
}

.player-card {
    width: 220px; /* Largura fixa dos cards */
    min-height: 363px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; /* Espaçamento inferior para garantir consistência */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222;
    border-bottom: 2px solid #444;
    border-radius: 5px;
    height: 35px;
}

.card-header h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-left: 10px;
}

.add-icon {
    background-image: url(imagenssite/plus.png);
    align-items: center;
}


.link-custom {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 35px; /* Ajuste o tamanho conforme necessário */
    transition: transform 0.5s ease; /* Transição suave para a transformação */

}

.link-custom:hover {
    color: white;
    transform: rotate(180deg);
}

.player-image {
    width: 100%;
    background-color: #444;
    text-align: center;
    display: flex;
    justify-content: center; /* Alinha a imagem horizontalmente */
}

.player-image img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border-radius: 5px;
}

.card-footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    border-top: 2px solid #444;
}

/* Responsividade */
@media (max-width: 768px) {
    .players-grid {
        justify-content: center; /* Centraliza os cards em telas menores */
    }
}